<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ogübs.Properties.Settings.ogrenci_bilgi_sistemiConnectionString"
            connectionString="Data Source=DESKTOP-LN04JT2\SQLEXPRESS;Initial Catalog=ogrenci_bilgi_sistemi;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>